<form action="/admin/createUS" method="post">
<section class="box-us">

    <div class="box-us-left">
        <img src="img/user.png">
        <input name="email" type="text" placeholder="Enter your Email">
        <input name="passWord" type="text" placeholder="Enter your password">
    </div>

    <div class="box-us-right">
        <div class="row-1">
            <input name="firstName" type="text" placeholder="Enter your FirstName">
            <input name="avata" type="text" placeholder="Enter your url image">
        </div>
        <div class="row-2">
            <select name="access" id="">
                <option value="Admin">Admin</option>
                <option value="nhanvien">Nhân Viên</option>
            </select>
              <input style="margin-left: ;" name="numberPhone" type="text" placeholder="Enter your NumberPhone">
        </div>
        <div class="row-3">
            <input class="btnCrUS" type="submit" name="" id="" value="Create User">
        </div>
    </div>

</section>
</form>
