<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-eq class="nav-link"uiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css" integrity="sha384-fZCoUih8XsaUZnNDOiLqnby1tMJ0sE7oBbNk2Xxf5x8Z4SvNQ9j83vFMa/erbVrV" crossorigin="anonymous"/>

    <link rel="stylesheet"
           href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

   </head>
<body>
   
     <!-- Start Home Section -->
     <section class="home" id="home">
       <div class="container">
            <div class="left">
               <h1>Everything You Want In One Place</h1>
               <p>
                  The clothes someone wears tell us about their cultural 
                  identity <br> and life status. When we need to 
                  describe someone  to <br> someone else, we talk about
                  their outer beauty appearance <br> and inner 
                  qualities personality. While describing someone’s
                  appearance, 
                  the first thing that comes up is the clothes. 
               </p>
               <form>
                   <input type="email" placeholder="What do you want?">
                   <button>Search</button>
               </form>
               <div class="numbers">
                  <div class="child">
                     <h2>26K+</h2>
                     <h3>Apprecial</h3>
                  </div>
              
                  <div class="child">
                     <h2>3.4K+</h2>
                     <h3>Clothes</h3>
                  </div>
              
                  <div class="child">
                     <h2>100K+</h2>
                     <h3>Countries</h3>
                  </div>
               </div>
            </div>  
            <div class="right">
                   
                  <div class="slider">
                      <div class="sliders">
                         <input type="radio" name="radiobtn" id="radio1">
                         <input type="radio" name="radiobtn" id="radio2">
                         <input type="radio" name="radiobtn" id="radio3">
                         <input type="radio" name="radiobtn" id="radio4">
                         
                         <div class="slide first">
                           <img src="img/aonudep.jpg" alt="">
                         </div>

                         <div class="slide">
                           <img src="img/shop1.jpg" alt="">
                         </div>

                         <div class="slide">
                           <img src="img/shop2.jpg" alt="">
                         </div>

                         <div class="slide">
                           <img src="img/shop3.jpg" alt="">
                         </div>
                         
                         <div class="navigation-auto">
                           <div class="auto-btn1"></div>
                           <div class="auto-btn2"></div>
                           <div class="auto-btn3"></div>
                           <div class="auto-btn4"></div>
                         </div>
                      </div>

                         <div class="navigation-manual">
                            <label for="radio1" class="manual-btn"></label>
                            <label for="radio2" class="manual-btn"></label>
                            <label for="radio3" class="manual-btn"></label>
                            <label for="radio4" class="manual-btn"></label>
                         </div>

                  </div>
                 
                  <div class="icon">
                     <a href="#"><img src="img/instagram.png" alt="instagram"></a>
                  </div>
                  <div class="icon">
                     <a href="#"> <img src="img/facebook.png" alt="instagram"></a>
                  </div>
                  <div class="icon">
                    <a href="#"> <img src="img/zalo.png" alt="instagram"> </a>
                  </div>

            </div>
            
        </div>
     </section>

     <!-- End home section -->

     <!-- Start section about -->

     <div class="about" id="about">
      <div class="container">
          <div class="left " data-aos="fade-right">
              <img src="img/aboutimg.jpg" alt="about Model">
          </div>
          <div class="right" data-aos="fade-left">
             <h1><span>Here</span> has all things <br> for you want!</h1>
             <p>Most product descriptions are terrible. <br> <br>
                 Who really reads the copy on your product pages, anyway? <br> <br>
                  There are so many other things to do on a website in terms of conversion rate<br> optimization that a product description
                can’t really make an impact on sales, right? </p> 
               <div class="advantages">
                   <figure>
                        <img src="img/accept.png" alt="">
                        Professional Consulting
                   </figure>
                   <figure>
                        <img src="img/accept.png" alt="">
                        Friendly Prices
                  </figure>
                  <figure>
                       <img src="img/accept.png" alt="">
                        High Quality Clothes
                 </figure>
               </div>
          </div>
      </div>
     </div>
     <!-- End section about -->

     <!-- Start Clothes section  -->
         <div class="clothes">
            <h1>TOP TREND CLOTHES NOWADAY</h1>
             <div class="container" > 
              
               <div class="box-clothes" data-aos="fade-up-right"> 
                   <div class="box-clothes-backImg">
                       <video autoplay loop muted class="back-video">
                        <source src="img/bgdep.mp4" type="video/mp4">
                       </video>
                        <div class="box-clothes-backImg-img">

                           <img src="img/aobongxanh.jpg" alt="">
                        </div>
                   </div>
                   <div class="body-content">
                      <h1>Áo Bông Xanh Nhẹ Nhàng</h1>
                      <p>Giúp bạn cảm giác như trôi dạc giữa đại dương bao la
                         và nhẹ nhàng như lông vũ của bầy chim
                      </p>
                      <a href="">Xem chi tiết</a>
                   </div>
               </div>
                 
               <div class="box-clothes" data-aos="flip-up"> 
                  <div class="box-clothes-backImg">
                      <video autoplay loop muted class="back-video">
                       <source src="img/bgdep.mp4" type="video/mp4">
                      </video>
                       <div class="box-clothes-backImg-img">
                          <img src="img/aodep.jpg" alt="">         
                       </div>
                      
                  </div>
                  <div class="body-content">
                     <h1>Set đồ phong cách hiện đại</h1>
                     <p> 
                        Set đồ thoải mái, thể hiện sự năng động 
                        linh hoạt của các chị em phụ nữ và bên cạnh không kém
                        phần phong cách hiện đại
                     </p>
                       <a href="">Xem chi tiết</a>
                  </div>
              </div>

              <div class="box-clothes" data-aos="fade-up-left"> 
               <div class="box-clothes-backImg">
                   <video autoplay loop muted class="back-video">
                    <source src="img/bgdep.mp4" type="video/mp4">
                   </video>
                   <div class="box-clothes-backImg-img">
                     <img src="img/fashion.jpg" alt="">         
                  </div>
               </div>
                
               <div class="body-content">
                  <h1>Thời trang cá tính linh hoạt</h1>
                  <p> Thể hiện sự cá tính mạnh mẽ của các cô gái và bản lĩnh
                      vượt qua mọi thời đại
                  </p>
                  <a href="">Xem chi tiết</a>
               </div>
           </div>
             </div>
         </div>
     <!-- End Internship section -->
    
      <section class="testimonials" id="testimonials">
          <div class="container">
             <div class="text" data-aos="zoom-out">
                <h1>People says about Clothes here</h1>
                <p> Thể hiện sự cá tính mạnh mẽ của các cô gái và bản lĩnh
                         vượt qua mọi thời đại</p>       
             </div>
           </div>
            <div class="swiper wiper-cont" data-aos="zoom-out-up">
               <div class="swiper-wrapper">
                   
                  <div class="swiper-item swiper-slide">
                     <img class="lef" src="img/aodencatinh.png" alt="">
                     <img class="lef2" src="img/aokhoacden.png" alt="">
                      <div class="right">
                           <div class="stars">
                               <img src="img/star.png" alt="">
                               <img src="img/star.png" alt="">
                               <img src="img/star.png" alt="">
                               <img src="img/star.png" alt="">
                               <img src="img/star.png" alt="">
                           </div>
                           <h1>Steve Philips</h1>
                           <p>Thể hiện sự cá tính mạnh mẽ của các cô gái và bản lĩnh
                             vượt qua mọi thời đại</p>
                           <h2>Web Track</h2>
                      </div>
                 </div>
                  
                 <div class="swiper-item swiper-slide">
                    <img class="lef" src="img/aokhoacden.png" alt="">
                    <img class="lef2" src="img/aodencatinh.png" alt="">
                     <div class="right">
                          <div class="stars">
                              <img src="img/star.png" alt="">
                              <img src="img/star.png" alt="">
                              <img src="img/star.png" alt="">
                              <img src="img/star.png" alt="">
                              <img src="img/star.png" alt="">
                          </div>
                          <h1>Steve Philips</h1>
                          <p>Thể hiện sự cá tính mạnh mẽ của các cô gái và bản lĩnh
                            vượt qua mọi thời đại</p>
                          <h2>Web Track</h2>
                     </div>
                </div>
                 
                <div class="swiper-item swiper-slide">
                 <img class="lef" src="img/songsinh.png" alt="">
                 <img class="lef2" src="img/aobongxanh-bg.png" alt="">
                  <div class="right">
                       <div class="stars">
                           <img src="img/star.png" alt="">
                           <img src="img/star.png" alt="">
                           <img src="img/star.png" alt="">
                           <img src="img/star.png" alt="">
                           <img src="img/star.png" alt="">
                       </div>
                       <h1>David JohnSon</h1>
                       <p>Một phong cách đầy quyến rũ làm nên sự đáng yêu tuyệt vời từ trang phục đã vẽ toát lên
                       </p>
                       <h2>Web Track</h2>
                  </div>
             </div>
                  
             <div class="swiper-item swiper-slide">
              <img class="lef" src="img/aoden.jpg" alt="">
              <img class="lef2" src="img/aoden2.jpg" alt="">
                <div class="right">
                    <div class="stars">
                        <img src="img/star.png" alt="">
                        <img src="img/star.png" alt="">
                        <img src="img/star.png" alt="">
                        <img src="img/star.png" alt="">
                        <img src="img/star.png" alt="">
                    </div>
                    <h1>Steve Philips</h1>
                    <p>Thể hiện sự cá tính mạnh mẽ của các cô gái và bản lĩnh
                      vượt qua mọi thời đại</p>
                    <h2>Web Track</h2>
                </div>
              </div>
          </div>
                 <div class="swiper-pagination"></div>
       </div>
      </section>
    
     <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script>
        AOS.init();
     </script>
     <script src="main.js"></script>
   
   
</body>
</html>