 <footer class="footer" id="footer" >
       <div class="footer-list">
          <div class="footer-data">
              <a href=""><img src="img/store.png"></a>
              <div class="footer-data-social">
                  <a href=""><i class='bx bxl-facebook-circle'></i></a>
                  <a href=""><i class='bx bxl-instagram' ></i></a>
                  <a href=""><i class='bx bxl-twitter' ></i></a>
                  <a href=""><i class='bx bxl-youtube' ></i></a>
              </div>
              <div class="dowload">
                   <img src="img/google-play.png" alt="Google play">
                   <img src="img/app-store.png" alt="">
              </div>
          </div>

          <div class="footer-data">
               <h2>Shop</h2>
               <p>Careers</p>
               <p>Afilliate</p>
               <p>Business</p>
          </div>

          <div class="footer-data">
            <h2>Contact</h2>
            <p>Blog</p>
            <p>Contact Us</p>
            <p>Help center</p>
            <p>Media Kit</p>
       </div>

       <div class="footer-data">
           <h2>Legal</h2>
           <p>Term Of Policy</p>
           <p>Praivacy</p>
           <p>Accessibilyty Policy</p>
           <p>Trademark policy</p>
      </div>
  </div>
   <div class="copy">
       <p>&copy; All Rights Reserved</p>
       <span>Created Web By 游비  US 游때 游때  游때  游때  游때   游비</span>
   </div>
     </footer>